<!doctype html>
<html>
<title>可转债列表</title>
<body>
<div align="center">
可转债筛选条件:
<br>
(1)  价格小于106，溢价率小于20%
<br>
(2)  价格小于110，溢价率小于10%
<br>
此刻筛选结果如下
<br>

<table border="1px">
    <tr>
        <td>名字</td>
        <td>价格</td>
        <td>溢价率</td>
        <td>信用等级</td>
    </tr>
    {% for dept in deptList %}
        <tr>
            <td>{{ dept.bond_nm }}</td>
            <td>{{ dept.price }}</td>
            <td>{{ dept.premium_rt }}</td>
            <td>{{ dept.rating_cd }}</td>
        </tr>
    {% endfor %}
</table>
<a href="https://mp.weixin.qq.com/s/QLDy93FHsTF9Vh0q3OvKyA">双低可转债详细介绍</a>
</div>
</body>
</html>